@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;500&family=Bellefair&display=swap");

//fontes
$barlow: "Barlow", sans-serif;
$barlow-cond: "Barlow Condensed", sans-serif;
$bellefair: "Bellefair", serif;

//cores
$branco: rgb(255, 255, 255);
$lilas: rgb(208, 214, 249);
$preto: rgb(11, 13, 23);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-image: url("../img/fundo/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;

    @media only screen and (min-width: 768px) {
        background-image: url("../img/fundo/background-home-desktop.jpg");
    }

    @media only screen and (min-width: 1200px) {
        font-size: 18px;
        overflow-x: hidden;

    }
}

.container {
    display: flex;
    padding: 0 1rem;
    transition: 0.3s ease-in-out;

    @media only screen and (min-width: 768px) {
        padding: 0 2rem;
    }

    @media only screen and (min-width: 1200px) {
        padding: 0;
        max-width: 1000px;
        margin: 0 auto;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

h1,
p {
    line-height: 1.5;
}

h1 {
    font-family: $bellefair;
    font-weight: 400;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-color: currentColor;
    }
}
